<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

       <!--Jdeis 线程池配置-->
       <bean id="poolConfig" class="redis.clients.jedis.JedisPoolConfig">

              <property name="maxTotal">
                     <value>${redis.pool.maxTotal}</value>
              </property>
              <property name="maxIdle" value="${redis.pool.maxIdle}"/>
              <property name="minIdle" value="${redis.pool.minIdle}"/>
              <property name="maxWaitMillis" value="${redis.pool.maxWaitMillis}"/>
              <property name="testOnBorrow" value="${redis.pool.testOnBorrow}"/>
              <property name="testOnReturn" value="${redis.pool.testOnReturn}"/>
       </bean>

       <!--JedisPool-->
       <bean id="jedisPool" class="redis.clients.jedis.JedisPool">
              <constructor-arg index="0" ref="poolConfig"/>
              <constructor-arg index="1" value="${redis.host}"/>
              <constructor-arg index="2" value="${redis.port}" type="int"/>
              <constructor-arg index="3" value="${redis.timeout}" type="int"/>
       </bean>


</beans>